@Html.Partial("Header")

<div id="person">
<h2>Name: @ViewBag.personViewed.Name</h2>
<h2>Alias: @ViewBag.personViewed.Alias</h2>
<h2>Email: @ViewBag.personViewed.Email</h2>
<br>
<h2>Total Number of Posts: @ViewBag.posts</h2>
<h2>Total Number of Likes: @ViewBag.postsLiked</h2>
</div>